
body {
    margin: 0;
    padding: 0;
    text-align: center; 
    background-image: url(seattle-washington-SEATTLETG0221-43c8ef3221db4e5da6806af7d9d481e8.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: lightblue;
   }

   